/*
 * NexoraOne 独有的样式
 *
 * @Author:    NexoraOne-主任：卓大
 * @Date:      2022-09-12 14:43:01
 * @Wechat:    NexoraOne
 * @Email:     NexoraOne
 * @Copyright  NexoraOne （ # ），Since 2012
 */

/**********************************  宽度 **********************************/
.nexora-width-100 {
  width: 100%;
}

/**********************************  左间距 **********************************/
.nexora-margin-left5 {
  margin-left: 5px;
}

.nexora-margin-left10 {
  margin-left: 10px;
}

.nexora-margin-left15 {
  margin-left: 15px;
}

.nexora-margin-left20 {
  margin-left: 20px;
}

/**********************************  右间距 **********************************/
.nexora-margin-right5 {
  margin-right: 5px;
}

.nexora-margin-right10 {
  margin-right: 10px;
}

.nexora-margin-right15 {
  margin-right: 15px;
}

.nexora-margin-right20 {
  margin-right: 20px;
}

/******************************** 上间距 ********************************/
.nexora-margin-top5 {
  margin-top: 5px;
}

.nexora-margin-top10 {
  margin-top: 10px;
}

/******************************** 下间距 ********************************/
.nexora-margin-bottom5 {
  margin-bottom: 5px;
}

.nexora-margin-bottom10 {
  margin-bottom: 10px;
}
/******************************** 查询表格样式 ********************************/

.nexora-table-operate {
  .ant-btn {
    padding: 0 3px !important;
    height: auto;
  }
}

.nexora-table-column-operate {
  float: right;
}

.nexora-query-form-row:not(:first-child) {
  margin-top: 8px;
}

.nexora-query-form-row .nexora-query-form-item {
  margin-right: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nexora-query-table-page {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.nexora-table-btn-block {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .nexora-table-operate-block {
    .ant-btn {
      margin-right: 12px;
    }
  }
  .nexora-table-setting-block {
    float: right;
  }
}
